{#
/**
 * @file
 * Add some fancy footer-wrapper for the front page.
 */
#}
{% extends "page.html.twig" %}

{% block content %}
  {{ parent() }}
  {% if page.view1 %}
    {{ page.view1 }}
  {% endif %}
  {% if page.view2 %}
    {{ page.view2 }}
  {% endif %}
{% endblock content %}

{% block footer %}
  <div class="fancy-footer">
    <div class="fancy-footer__intro">
      Start of the fancy front page footer.
    </div>
    {{ parent() }}
    <div class="fancy-footer__outro">
      End of the fancy front page footer.
    </div>
  </div>
{% endblock footer %}